* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, #f7d54070, #c5b41bbb);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 274px;
    background: #ffef13;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgb(16, 8, 126);
}

#display {
    width: 90%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    border: static #000000;
    border-radius: 6px;
    background: #fff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
}

button {
    font-size: 18px;
    padding: 15px;
    border: none;
    border-radius: 6px;
    background: #444;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background: #666;
}

button:active {
    background: #999;
}